<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Incomes / Expenses</title>

    <style>
table{width:100%;}
table td, table th { border: 1px solid grey;}
table th { background: #eee;}
.pagination-div{user-select: none;}
.pagination-div span{border-radius:3px;border:1px solid #999;
   padding:5px;margin:10px 0px 0px 10px;display:inline-block; text-align: center}
span.selected{background:#ccf;}
</style>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<form action="#" th:action="@{/incomeoutgo/selectDateRange}" th:object="${page}" method="post" onsubmit="return checkForm(this);">
    <div style="text-align:center">
    <p>Select Date: <input type="date" id="selectionDate" name="selectionDate" align="center"> <button type="submit" align="center">Submit</button>
    </div>
</form>

<hr>

<div class="row">
    <!-- Sums -->
    <div class="column">
        <table>
            <caption class="detailed">Summary of income and expenses</caption>
            <tr>
                <th>Total Income</th>
                <th>Total Expense</th>
                <th>Savings</th>
            </tr>

            <tr th:each="sumincomeoutgo : ${sumincomeoutgo}">
                <td th:text="${sumincomeoutgo.income}">income</td>
                <td style="background-color:#FF0000" th:text="${sumincomeoutgo.outgo}">outgo</td>
                <td th:text="${sumincomeoutgo.savings}">savings</td>
            </tr>
        </table>
    </div>
    <!-- Income -->
    <div class="column">
        <table>
            <caption class="income">List of income</caption>
            <tr>
                <th>Position</th>
                <th>Income</th>
            </tr>

            <tr th:each="income : ${incomeGroupedByPosition}">
                <td th:text="${income.position}">location</td>
                <td th:text="${#numbers.formatCurrency(income.income)}">"${#numbers.formatCurrency(income.income)}"</td>
            </tr>
        </table>
    </div>
    <!-- Expense -->
    <div class="column">
        <table>
            <caption class="expense">Expenses</caption>
            <tr>
                <th>Position</th>
                <th>Outgo</th>
            </tr>

            <tr th:each="outgoGroupedByPosition : ${outgoGroupedByPosition}">
                <td th:text="${outgoGroupedByPosition.position}">Position</td>
                <td th:text="${#numbers.formatCurrency(outgoGroupedByPosition.outgo)}">"${#numbers.formatCurrency(outgoGroupedByPosition.outgo)}"</td>
            </tr>
        </table>
    </div>
</div>
<hr>

<!-- Detailed list of expenses -->
<!--Paging-->
<table>
    <tr>
        <th>Id</th>
        <th>DayOfWeek</th>
        <th>Person</th>
        <th>Position</th>
        <th>Incomey</th>
        <th>Outgo</th>
    </tr>
    <tr th:each="paging : ${pagingNosorting}">
        <td th:text="${paging.id}"></td>
        <td th:text="${paging.dayofweek}"></td>
        <td th:text="${paging.person}"></td>
        <td th:text="${paging.position}"></td>
        <td th:text="${paging.income}"></td>
        <td th:text="${paging.outgo}"></td>
    </tr>
</table>

<div class="pagination-div">
    <span th:if="${pagingNosorting.hasPrevious()}">
        <a th:href="@{/incomeoutgo(pagingNosorting=${pagingNosorting.number-1},size=${pagingNosorting.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, pagingNosorting.totalPages - 1)}">
        <span th:if="${pagingNosorting.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${pagingNosorting.number == i}">
             <a th:href="@{/incomeoutgo(pagingNosorting=${i},size=${pagingNosorting.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${pagingNosorting.hasNext()}">
        <a th:href="@{/incomeoutgo(pagingNosorting=${pagingNosorting.number+1},size=${pagingNosorting.size})}">Next</a>
    </span>
</div>
<!-- Detailed list of expenses -->
<!--Paging-->
<!--Detailed list of expenses deactivated for now
<div class="row">
    <div class="column">
        <table>
            <caption class="detailed">Detailed list of expenses</caption>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Position</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>

            <tr th:each="incomeOutgoOrderByDayOfWeek : ${incomeOutgoOrderByDayOfWeek}">
                <td th:text="${incomeOutgoOrderByDayOfWeek.dayofweek}">id</td>
                <td th:text="${incomeOutgoOrderByDayOfWeek.person}">person</td>
                <td th:text="${incomeOutgoOrderByDayOfWeek.position}">position</td>
                <td th:text="${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.income)}">"${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.income, Currency.getInstance("EUR"))}"</td>
                <td th:text="${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.outgo)}">"${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.outgo)}"</td>
            </tr>
        </table>

        <table>
            <tr th:each="sumDetailedListOfIncomeOutgo : ${sumDetailedListOfIncomeOutgo}">
                <td >Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="${#numbers.formatCurrency(sumDetailedListOfIncomeOutgo.income)}">"${#numbers.formatCurrency(sumDetailedListOfIncomeOutgo.income)}"</td>
                <td th:text="${#numbers.formatCurrency(sumDetailedListOfIncomeOutgo.outgo)}">"${#numbers.formatCurrency(sumDetailedListOfIncomeOutgo.outgo)}"</td>
            </tr>
        </table>
    </div>
</div>
-->
<hr>
<!-- Input formular -->
<form action="#" th:action="@{/incomeoutgo/submitFields}" th:object="${page}" method="post" onsubmit="return checkForm(this);">
    <table class="formular">
        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="*{dayofweek}" /></td>
            <td th:if="${#fields.hasErrors('dayofweek')}" th:errors="*{dayofweek}">Name Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><select id="person" name="person">
                <option value="Bernd">Bernd</option>
                <option value="Julia">Julia</option>
            </select></td>
            <!--<td><input type="text" th:field="*{person}" /></td>
            <td th:if="${#fields.hasErrors('person')}" th:errors="*{person}">Name Error</td>-->
        </tr>
        <tr>
            <td>Position:</td>
            <td><input type="text" th:field="*{position}" /></td>
        </tr>
        <tr>
            <td>Income:</td>
            <td><input type="text" th:field="*{income}" value="0"/></td>
        </tr>
        <tr>
            <td>Outgo:</td>
            <td><input type="text" th:field="*{outgo}" value="0"/></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>

</body>
</html>