<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Incomes / Expenses</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<form action="#" th:action="@{/incomeoutgo/selectDateRange}" th:object="${page}" method="post" onsubmit="return checkForm(this);">
    <div style="text-align:center">
    <p>Select Date: <input type="date" id="selectionDate" name="selectionDate" align="center"> <button type="submit" align="center">Submit</button>
    </div>
</form>

<hr>

<div class="row">
    <!-- Sums -->
    <div class="column">
        <table>
            <caption class="detailed">Summary of income and expenses</caption>
            <tr>
                <th>Total Income</th>
                <th>Total Expense</th>
                <th>Savings</th>
            </tr>

            <tr th:each="sumincomeoutgo : ${sumincomeoutgo}">
                <td th:text="${sumincomeoutgo.income}">income</td>
                <td style="background-color:#FF0000" th:text="${sumincomeoutgo.outgo}">outgo</td>
                <td th:text="${sumincomeoutgo.savings}">savings</td>
            </tr>
        </table>
    </div>
    <!-- Income -->
    <div class="column">
        <table>
            <caption class="income">List of income</caption>
            <tr>
                <th>Position</th>
                <th>Income</th>
            </tr>

            <tr th:each="income : ${incomeGroupedByPosition}">
                <td th:text="${income.position}">location</td>
                <td th:text="${#numbers.formatCurrency(income.income)}">"${#numbers.formatCurrency(income.income)}"</td>
            </tr>
        </table>
    </div>
    <!-- Expense -->
    <div class="column">
        <table>
            <caption class="expense">Expenses</caption>
            <tr>
                <th>Position</th>
                <th>Outgo</th>
            </tr>

            <tr th:each="outgoGroupedByPosition : ${outgoGroupedByPosition}">
                <td th:text="${outgoGroupedByPosition.position}">Position</td>
                <td th:text="${#numbers.formatCurrency(outgoGroupedByPosition.outgo)}">"${#numbers.formatCurrency(outgoGroupedByPosition.outgo)}"</td>
            </tr>
        </table>
    </div>
</div>
<hr>

<!-- Detailed list of expenses -->
<div class="row">
    <div class="column">
        <table>
            <caption class="detailed">Detailed list of expenses</caption>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Position</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>

            <tr th:each="incomeOutgoOrderByDayOfWeek : ${incomeOutgoOrderByDayOfWeek}">
                <td th:text="${incomeOutgoOrderByDayOfWeek.dayofweek}">id</td>
                <td th:text="${incomeOutgoOrderByDayOfWeek.person}">person</td>
                <td th:text="${incomeOutgoOrderByDayOfWeek.position}">position</td>
                <td th:text="${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.income)}">"${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.income, Currency.getInstance("EUR"))}"</td>
                <td th:text="${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.outgo)}">"${#numbers.formatCurrency(incomeOutgoOrderByDayOfWeek.outgo)}"</td>
            </tr>
        </table>
    </div>
</div>

<!-- Input formular -->
<form action="#" th:action="@{/incomeoutgo/submitFields}" th:object="${page}" method="post" onsubmit="return checkForm(this);">
    <table class="formular">
        <tr>
            <td>DayOfWeek:</td>
            <td><input type="date" th:field="*{dayofweek}" /></td>
            <td th:if="${#fields.hasErrors('dayofweek')}" th:errors="*{dayofweek}">Name Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{person}" /></td>
            <td th:if="${#fields.hasErrors('person')}" th:errors="*{person}">Name Error</td>
        </tr>
        <tr>
            <td>Position:</td>
            <td><input type="text" th:field="*{position}" /></td>
        </tr>
        <tr>
            <td>Income:</td>
            <td><input type="text" th:field="*{income}" value="0"/></td>
        </tr>
        <tr>
            <td>Outgo:</td>
            <td><input type="text" th:field="*{outgo}" value="0"/></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>

</body>
</html>